version: "3.9"

services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis

  worker:
    build: .
    command: celery -A vatochito_backend worker -l info
    volumes:
      - .:/code
    env_file:
      - .env
    depends_on:
      - redis
      - db

  beat:
    build: .
    command: celery -A vatochito_backend beat -l info
    volumes:
      - .:/code
    env_file:
      - .env
    depends_on:
      - redis
      - db

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: vatochito
      POSTGRES_USER: vatochito
      POSTGRES_PASSWORD: vatochito
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

volumes:
  postgres_data:
